@import "tailwindcss";
@import "tw-animate-css";


:root {
  --background: 0 0% 100%;
  --foreground: 222 47% 11%;
  --primary: 221 83% 53%;
  --muted: 215 16% 47%;
  --border: 214 32% 91%;
  --accent: 210 40% 96%;
  --card: 0 0% 100%;
}


.dark {
  --background: 0 0% 0%;        /* pure black */
  --foreground: 0 0% 100%;      /* pure white text */
  --primary: 221 83% 66%;       /* keep blue buttons */
  --muted: 0 0% 65%;            /* gray text */
  --border: 0 0% 20%;           /* dark border */
  --accent: 0 0% 15%;           /* hover background */
  --card: 0 0% 8%;              /* card slightly lighter than bg */
}



html,
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  transition: background-color 0.3s ease, color 0.3s ease;
}


